openapi: 3.0.3
info:
  title: Very Big Medal Pusher Game Data API
  version: "1.0.1"
  description: |
    VRChat用メダルプッシャーワールド「クソでっけぇプッシャーゲーム」のプレイデータを送信するAPI。

servers:
  - url: https://push.trap.games

paths:
  /data:
    get:
      summary: ゲームデータを送信
      description: HMAC署名付きの統計情報をGETで送信する
      parameters:
        - name: version
          in: query
          required: true
          schema:
            type: integer
        - name: user_id
          in: query
          required: true
          schema:
            type: string
        - name: have_medal
          in: query
          required: true
          schema:
            type: integer
        - name: in_medal
          in: query
          required: true
          schema:
            type: integer
        - name: out_medal
          in: query
          required: true
          schema:
            type: integer
        - name: slot_hit
          in: query
          required: true
          schema:
            type: integer
        - name: get_shirbe
          in: query
          required: true
          schema:
            type: integer
        - name: start_slot
          in: query
          required: true
          schema:
            type: integer
        - name: shirbe_buy300
          in: query
          required: true
          schema:
            type: integer
        - name: medal_1
          in: query
          required: true
          schema:
            type: integer
        - name: medal_2
          in: query
          required: true
          schema:
            type: integer
        - name: medal_3
          in: query
          required: true
          schema:
            type: integer
        - name: medal_4
          in: query
          required: true
          schema:
            type: integer
        - name: medal_5
          in: query
          required: true
          schema:
            type: integer
        - name: R_medal
          in: query
          required: true
          schema:
            type: integer
        - name: total_play_time
          in: query
          required: true
          schema:
            type: integer
        - name: fever
          in: query
          required: true
          schema:
            type: integer
        - name: sig
          in: query
          required: true
          description: HMAC-SHA256署名（順序固定・user_id込みで生成）
          schema:
            type: string
        - name: max_chain_item
          in: query
          required: false
          schema:
            type: integer
        - name: max_chain_orange
          in: query
          required: false
          schema:
            type: integer
        - name: max_chain_rainbow
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 正常に保存されました
        '400':
          description: 不正な署名 or パラメータ
        '500':
          description: サーバー内部エラー

  /ping:
    get:
      summary: ヘルスチェック
      responses:
        '200':
          description: サーバー稼働中

  /users/{user_id}/data:
    get:
      summary: ユーザーごとのゲームデータを取得
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ユーザーのゲームデータ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameData'
        '404':
          description: ユーザーが見つかりません

  /rankings:
    get:
      summary: ランキングを取得
      parameters:
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [ have_medal, fever, in_medal, out_medal, max_chain_item, max_chain_orange, max_chain_rainbow ]
            default: have_medal
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: ランキングデータ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameData'

components:
  schemas:
    GameData:
      type: object
      properties:
        version:
          type: integer
        id:
          type: string
        user_id:
          type: string
          x-oapi-codegen-extra-tags:
            db: 'user_id'
        have_medal:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'have_medal'
        in_medal:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'in_medal'
        out_medal:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'out_medal'
        slot_hit:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'slot_hit'
        get_shirbe:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'get_shirbe'
        start_slot:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'start_slot'
        shirbe_buy300:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'shirbe_buy300'
        medal_1:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'medal_1'
        medal_2:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'medal_2'
        medal_3:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'medal_3'
        medal_4:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'medal_4'
        medal_5:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'medal_5'
        R_medal:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'R_medal'
        total_play_time:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'total_play_time'
        fever:
          type: integer
        created_at:
          type: string
          format: date-time
          x-oapi-codegen-extra-tags:
            db: 'created_at'
        max_chain_item:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'max_chain_item'
        max_chain_orange:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'max_chain_orange'
        max_chain_rainbow:
          type: integer
          x-oapi-codegen-extra-tags:
            db: 'max_chain_rainbow'

