openapi: 3.0.3
info:
  title: Very Big Medal Pusher Game Data API
  version: "1.0.0"
  description: |
    VRChat用メダルプッシャーワールド「クソでっけぇプッシャーゲーム」のプレイデータを送信するAPI。

servers:
  - url: https://push.trap.games

paths:
  /data:
    get:
      summary: ゲームデータを送信
      description: HMAC署名付きの統計情報をGETで送信する
      parameters:
        - name: v
          in: query
          required: true
          schema:
            type: string
        - name: user_id
          in: query
          required: true
          schema:
            type: string
        - name: in_medal
          in: query
          required: true
          schema:
            type: integer
        - name: out_medal
          in: query
          required: true
          schema:
            type: integer
        - name: slot_hit
          in: query
          required: true
          schema:
            type: integer
        - name: get_shirbe
          in: query
          required: true
          schema:
            type: integer
        - name: start_slot
          in: query
          required: true
          schema:
            type: integer
        - name: shirbe_buy300
          in: query
          required: true
          schema:
            type: integer
        - name: medal_1
          in: query
          required: true
          schema:
            type: integer
        - name: medal_2
          in: query
          required: true
          schema:
            type: integer
        - name: medal_3
          in: query
          required: true
          schema:
            type: integer
        - name: medal_4
          in: query
          required: true
          schema:
            type: integer
        - name: medal_5
          in: query
          required: true
          schema:
            type: integer
        - name: R_medal
          in: query
          required: true
          schema:
            type: integer
        - name: second
          in: query
          required: true
          schema:
            type: number
        - name: minute
          in: query
          required: true
          schema:
            type: integer
        - name: hour
          in: query
          required: true
          schema:
            type: integer
        - name: sig
          in: query
          required: true
          description: HMAC-SHA256署名（順序固定・user_id込みで生成）
          schema:
            type: string
      responses:
        '200':
          description: 正常に保存されました
        '400':
          description: 不正な署名 or パラメータ
        '500':
          description: サーバー内部エラー
