name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
      - run: make mod
      - run: make build

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1.0
          args: --timeout=10m

  test-unit:
    name: Unit Test
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
      - run: make test-cover
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage.out

  test-integration:
    name: Integration Test
    runs-on: ubuntu-latest
    needs:
      - build
    services:
      mariadb:
        image: mariadb:11
        env:
          MARIADB_DATABASE: app_test
          MARIADB_ROOT_PASSWORD: pass
        ports:
          - 3306:3306
        options: >-
          --health-cmd "mariadb-admin ping -ppass --silent"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      DB_HOST: 127.0.0.1
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: pass
      DB_NAME: app_test
      DB_NET: tcp
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
      - run: make test-integration

  dependabot-automerge:
    name: Dependabot Automerge
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    needs:
      - build
      - lint
      - test-unit
      - test-integration
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Dependabot metadata
        uses: dependabot/fetch-metadata@v2
        id: metadata
      - uses: actions/checkout@v6
      - name: Enable automerge
        if: |
          steps.metadata.outputs.update-type == 'version-update:semver-patch' ||
          steps.metadata.outputs.update-type == 'version-update:semver-minor'
        run: |
          gh pr merge ${{ github.event.number }} --auto --merge
        env:
          GITHUB_TOKEN: ${{ github.token }}
